body {
    background: rgb(236, 238, 227);
}

#title, .subtitle, .post_title {
    color: rgba(143, 113, 50, 0.433);
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background:rgb(211, 209, 208);
    padding: 10px;
    border: 3px solid #000;
    margin: 10px; 
}